body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Azul claro */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%; /* Largura do formulário */
}

h1 {
    text-align: center;
    color: #0078d4; /* Azul do Azure */
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
}

input {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #0078d4; /* Azul do Azure */
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0078d4; /* Azul do Azure */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #005a9e; /* Azul escuro do Azure */
}

.response {
    margin-top: 20px;
    white-space: pre-wrap; /* Para manter a formatação do JSON */
}
